# Hi PyData

# I'm Daniel

<style>
.column-left3{
  float: left;
  width: 33%;
  text-align: left;
  
}
.column-center3{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.column-right3{
  float: right;
  width: 33%;
  text-align: right;
}
.column-left2{
  float: left;
  width: 50%;
  text-align: left;
}
.column-right2{
  float: right;
  width: 50%;
  text-align: left;
}
</style>

<div class="column-left2">
<a href='https://twitter.com/chendaniely'>@chendaniely<a>
</div>
<div class="column-right2">
<img src='./figs/me.jpg' />
</div>

<ul>
<li>Data Engineer, Research Associate

<ul>
<li><a href='https://www.bi.vt.edu/sdal' title=''>Social and Decision Analytics Laboratory</a></li>
<li><a href='https://www.bi.vt.edu/' title=''>Biocomplexity Institute at Virginia Tech</a></li>
</ul></li>
<li>PhD Student

<ul>
<li><a href='http://gbcb.vbi.vt.edu/' title=''>Genetics, Bioinformatics, and Computational Biology</a></li>
<li>Leveraging government, administrative, and open data sets for public health</li>
</ul></li>
<li>MPH, Epidemiology, Columbia University</li>
<li>Data Scientist, <a href='https://www.landeranalytics.com/' title=''>Lander Analytics</a></li>
<li>Instructor

<ul>
<li><a href='https://carpentries.org/' title=''>The Carpentries</a>

<ul>
<li><a href='https://software-carpentry.org/' title=''>Software-Carpentry</a> <a href='http://www.datacarpentry.org/' title=''>Data Carpentry</a></li>
</ul></li>
<li><a href='https://www.datacamp.com/' title=''>DataCamp</a>

<ul>
<li><a href='https://www.datacamp.com/courses/cleaning-data-in-python' title=''>Cleaning Data in Python</a></li>
<li>Python for useRs</li>
</ul></li>
</ul></li>
</ul>

<ul>
<li><a href='https://pydata.org/' title=''>PyData</a></li>
<li><a href='https://conference.scipy.org/' title=''>SciPy</a></li>
<li><a href='https://carpentries.org/' title=''>The Carpentries</a>
<ul>
<li><a href='https://software-carpentry.org/' title=''>Software-Carpentry</a> <a href='http://www.datacarpentry.org/' title=''>Data Carpentry</a></li>
</ul></li>

<li>#rstatsnyc</li>
<li><a href='http://www.datacommunitydc.org/meetups-overview/' title=''>DataCommunityDC</a></li>
</ul>

# Pandas for Everyone

<img src='./figs/pandas_for_everyone_cover.jpg' />

# Learning and Keeping an Open Mind

# Python and R

<img src='./figs/twitter_r_and_python.png' />

# We're All Friends

<img src='./figs/twitter_wes_ursa_labs.png' />

<img src='./figs/twitter_hadley_wes_friends.png' />

# Think about *how* not *what*

<img src='./figs/wickham-2014-tidy_data.png' />

# Tidy Data

1. Each variable forms a column.
2. Each observation forms a row.
3. Each type of observational unit forms a table

In [5]:
import pandas as pd
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [8]:
melted = pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
melted

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [9]:
pd.pivot_table(melted, index='A', columns='variable', values='value')

variable  B  C
A
a         1  2
b         3  4
c         5  6

In [13]:
(pd.pivot_table(melted, index='A', columns='variable', values='value',
               aggfunc='mean')
 .reset_index()
)

variable  A  B  C
0         a  1  2
1         b  3  4
2         c  5  6

<img src='./figs/reticulate.png' />

https://rstudio.github.io/reticulate/

# Thanks

slides: https://github.com/chendaniely/pydata_london_2018_lightning
        
chendaniely:
<ul>
    <li>twitter</li>
    <li>github</li>
    <li>github.io</li>
    <li>instagram</li>
</ul>